.cart {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__img {

        width: 1rem;
    }

    &__button {
        display: inline;
        margin: 0;
    }

    &__vacio {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            margin: 3rem;
        }
    }
}