.item{
    margin: 2rem;
    text-align: center;
    &__image{
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
    &__button{
        background-color: $colorFondoNavbar;
        color: $colorTextoNavbar;
        font-weight: bold;
        font-size: 1em;
    }
}